.navigationtable h1{
    font-family: 'Bebas Neue', cursive;  
    font-size: 35px;
    margin-bottom: -20px;
}
.navigation table li{
    color: black;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

/*Refers to the entire document*/
*{
    /*sets the background color of entire file to white*/
    background-color: #ffffff;
}

/* refers to all h2 headings inside main*/
main h2 {
    /*sets all the sections titles (which are h2) to have this font and font size*/
    font-family: 'Bebas Neue', cursive;  
    font-size: 50px;
    margin-bottom: -20px;
}

/*Refers to all h3 headings inside main*/
main h3{
    /* sets the main subheadings of section titles to have this font and font size*/
    font-family: 'Jost', sans-serif;

    font-size: 25;

    text-decoration:coral;

}


/* Heading section includes title, title picture, and company info*/
#section0-heading{
    /* adds border to heading area which includes main title, image, and company info*/
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;

    margin-bottom: 20px;

}

/*main title*/
#maintitle{
    /* Sets the main title to have this font and font size */
    font-family: 'Bebas Neue', cursive;  
    font-size: 75px; 
    text-align: center;
}

/* main image*/
#mainimage{
    /* adjusting the image under the main title*/
    display: block ;
    margin: 0 auto;
    max-width: 80%;
    min-width: 60%;
    height: auto;
    width: auto\9;
}

/*company info class*/
.companyinfo{
    text-align: center;
}
/* heading that is child of companyinfo class*/
.companyinfo > h3{
    font-family: 'Jost', sans-serif;

    font-size: 25px;


    margin-top: 20;
    margin-bottom: -10;
    margin-left: -10;
    margin-right: 0

}


/*paragraph that is child of companyinfo class*/
.companyinfo > p{

    font-family: 'Jost', sans-serif;
    font-size: 15px;

    margin-top: -10px;
    margin-bottom: 20px;
}


.dropdown{
    position: relative
    display: inline-block;
}


/*Section 1 includes h2 heading, then h3 headings for information*/
#section1-meeting{

    margin-top: 20px;

}

#meetingdetails{
   margin-bottom: -20px; 
}

#section1-meeting h3{
   margin-bottom: -2px;
}

/*Section 2 includes h2 heading, then unordered list*/



#section2-agenda li{
    font-family: 'Jost', sans-serif;
    font-size: 20px;

}




#section3-business ol{
    font-family: 'Jost', sans-serif;
    font-size: 20px;

    margin-top: -10px;
}
#section4-diagrams{

}

#section4-diagrams summary{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#section4-diagrams li{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#section4-diagrams img{
    /* adjusting the image under the main title*/
    display: block ;
    margin: 0 auto;
    max-width: 80%;
    min-width: 60%;
    height: auto;
    width: auto\9;


}

#section4-diagrams p{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    text-align: center;


}




#section5-comments p{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

#section5-comments video{
    display: block ;
    margin: 0 auto;
    max-width: 80%;
    min-width: 60%;
    height: auto;
    width: auto\9;
}

figure figcaption{
    margin-bottom: 10px;
    font-family: 'Jost', sans-serif;

}

#feedback{



    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    margin-top: 10px;    
}

#section6-feedback h5{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

input[type=text]{
    padding: 10px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius:10px;
}


#section6-feedback legend,label{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

fieldset{
    width:700px;
}

